body{
    background: black;
    font-family: Helvetica;
}

h1,h2,p {
    color: white
}

header {
    background: white;
    color: : black;
}

header h1 {
    color: black;
    font-size: 18px;
    text-align: center;
}

